.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: 
        "a a a"
        "b b b"
        ". c ."
}

.title-input {
    grid-area: a;
}

.describe-input {
    grid-area: b;
}

.create-btn {
    margin-top: 10px;
    grid-area: c;
}

// @media screen and ('min-width': '400px') {

// }
